/** --------------------------------------------------------------
 * 
 */

/* 
.dialogue, .wrap-question, .question, .comments, .comment, .answers, .wrap-answer, .answer, .comments, .comment {
border:1px solid
}
*/

.question, .answer {
margin-bottom:1em;
}


.wrap-question, .wrap-answer {
margin-bottom:3em;
}



.comment {
border-top:1px dotted;
border-bottom:1px dotted;
}



/*
.dialogue
.wrap-question
.question
.comments
.comment
.answers
.wrap-answer
.answer
.comments
.comment
*/
