/** --------------------------------------------------------------
 * 
 */

/* 
.dialogue, .wrap-question, .question, .comments, .comment, .answers, .wrap-answer, .answer, .comments, .comment {
    border:1px solid
}
*/

/* Thumbs and lists */

li.top-users {
    display: inline-block;
    vertical-align:top;
    margin-right:3em;
}

li.tag-thumb {
    display: inline-block;
    margin: 0.5em;
    /*background-color: #8892BF;*/
    background-color: #ccc;
    padding: 0.5em;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
}



li.user-thumb {
    display: inline-block;
    margin-right:1em;
    /*background-color: #8892BF;*/
    background-color: #ccc;
    padding:0.5em;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
}

li.question-thumb{
    /*.clearfix();*/
    border-bottom:1px dotted;
    color:#888;
    padding-top:1em;
    padding-bottom:1em;
    overflow:auto;
    
}

/* Questions, answers and comments */

.wrap-question, .wrap-answer, .comments {
    /*margin-bottom:8em;*/
}

.wrap-answer {
    margin-top:8em;
    margin-bottom:3em;
}

.question, .answer {
    border-bottom:1px dotted;
    padding-top:1em;
    padding-bottom:1em;
    .clearfix();
}

.comment {
    font-size: smaller;
    /*border-top:1px dotted;*/
    border-bottom:1px dotted;
    color:#888;
    padding-top:1em;
    padding-bottom:1em;
    .clearfix();
}


.vote a {
    color: #888;
}

/*
.vote-sum {
    height:100px;
    width:100px;
    display:table
}

.vote-part {
    display:table-cell;
    vertical-align: middle;
    text-align: center;
}
*/



.edit-link, .accept-link {
    font-size:smaller;
    color:#888;
}

#login-menu {
    font-size:smaller;
    color:#888;
}

.author {
    background-color:#EEE;
}

.right {
    float:right;
}

.left {
    float:left;
}

.smaller {
    font-size:smaller;
}

/* due to markdown contet beeing wrapped in a <p>*/

/*
li > a > p {
    margin:0;
    padding:0;
    margin-top:0;
    margin-bottom:0;
    padding-top:0;
    padding-bottom:0; 
}

li {
    vertical-align:top;
}

ul.no-style {
    list-style:none;
}
*/

/* FORMS */

#form-element-title, #form-element-content, #form-element-tags {
    width:100%;
}

#form-element-profile {
    width:100%;
}


/*
.dialogue
.wrap-question
.question
.comments
.comment
.answers
.wrap-answer
.answer
.comments
.comment
*/
